<div class="login-container">
  <h2 class="form-title">Sign up</h2>

  <form>
    <div class="form-group">
      <label for="name">
        <span class="username-form-icon"></span>
      </label>
      <input type="text" id="name" placeholder="Your Name">
    </div>

    <div class="form-group">
      <label for="email">
        <span class="email-form-icon"></span>
      </label>
      <input type="text" id="email" placeholder="Your Email">
    </div>

    <div class="form-group">
      <label for="password">
        <span class="password-form-icon"></span>
      </label>
      <input type="text" id="password" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="confirm_password">
        <span class="confirm-password-form-icon"></span>
      </label>
      <input type="text" id="confirm_password" placeholder="Repeat your Password">
    </div>

    <div class="form-group">
      <input type="checkbox" name="remember-me" id="remember-me" class="remember-me">
      <label for="remember-me">
        <!--        <span class="remember-me-icon"></span>-->
        I agree all statements in Terms of service
      </label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
